@using TransHaruhiku.Globalization.Views.Shared

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">@LayoutStrings.MensajeError</h1>
<h2 class="text-danger">@LayoutStrings.MensajeErrorRequest</h2>

