@using TransHaruhiku.Globalization.Views.Shared
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Bloqueado";
}

<hgroup>
    <h1 class="text-danger">@LayoutStrings.MensajeBloqueo</h1>
    <h2 class="text-danger">>@LayoutStrings.MensajeBloqueo</h2>
</hgroup>
